img {
    width: 22.5%;
}

@media screen and (max-width: 768px) {
    img {
    width: 47.5%;
    margin-bottom: 2.5%;
    }

}

@media screen and (min-width: 1024px) {
    .bg-danger{
        background-color: #9a33cc !important;
    }

}